<div class="publications">
  {% comment %}
    Custom sort: add `sort_key = {A01}` etc. to bib entries to control order.
    Falls back to default when sort_key is missing.
  {% endcomment %}
  {% bibliography --group_by none --sort_by sort_key --order descending --query @*[selected=true]* %}
</div>
