<div class="publications">
  {% comment %}
    Custom sort: add `sortkey = {A01}` etc. to bib entries to control order.
    Falls back to default when sortkey is missing.
  {% endcomment %}
  {% bibliography --group_by none --sort_by sortkey --order descending --query @*[selected=true]* %}
</div>
